@import '../../style/variables.scss';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 55px;
  margin-bottom: 40px;

  &__pages{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__page{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 16px;
    color: $gray;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &.active {
      background-color: $main-sky-blue;
      color: white;
    }
  }

  &__page:hover {
    background-color: $main-sky-blue;
    color: white;
  }
}
