@import '../../style/variables.scss';

.side-bar__item{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  display: flex;
  align-items: center;
  letter-spacing: 0.75px;

  padding-top: 18px;
  padding-bottom: 18px;

  color: $black;
}

.side-bar__item:hover{
  text-decoration: $main-sky-blue underline;
}