.button{
  display: flex;
  align-items: center;
  width: 157px;
  height: 56px;

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  color: #324552;
  border: 1.5px solid rgba(34, 149, 242, 0.5);
  border-radius: 12px;
  background: #FFFFFF;
  margin-left: 16px;

  &__text{
    padding: 16px 20px 16px 10px;
  }

  &__img{
    padding-left: 20px;
  }
}