@import '../../style/variables.scss';

.icon-status {
  display: inline-block;
  margin-right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green {
  background: $green;
}

.red {
  background: $red;
}

.blue {
  background: $main-sky-blue;
}

