$black: #324552;
$main-sky-blue: #2295F2;
$gray: #A3AEB9;
$green: #44CA7D;
$red: #DF5B5B;

$background-table: #F2F9FE;
$background-content: #FCFCFC;
$background-input: #EFF0F7;
$border-input: #A0A3BD;