@import '../../style/variables.scss';

.checkbox{
  display: flex;
  width: 100%;
  color: black;
  padding: 30px 32px;

  & input{
    appearance: none;
    -webkit-appearance: none;
  }

  &__input{
    height: 24px;
    width: 24px;
    background-color: white;
    border: 1px solid $border-input;
    border-radius: 15px;
  }

  &__input:checked{
    border: none;
    background-color: $main-sky-blue;
    background-image: url('../../images/checkMark.svg');
    background-repeat: no-repeat;
    background-position: center ;
  }

  &__label{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: $black;
    padding-left: 16px;
  }
}


