@import '../../style/variables.scss';

.wrapper-table{
  display: block;
  width:100%;
}

.table{
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding-right: 1px;

  display: block;
  max-width: 100%;

  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0;
  overflow-x: auto;
  padding-bottom: 24px;

  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    height: 8px;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    width: 731px;
    border: 4px solid rgba(0, 0, 0, 0);
    background: $main-sky-blue;
    border-radius: 10px;
  }
}

tbody tr{
  background: $background-table;
}

th {
  text-align: left;
  padding: 1rem;
}

td {
  border-bottom: solid 1px $main-sky-blue;
  padding: 20px;
}

tr:first-child td { border-top: solid 1px $main-sky-blue; }

tr td:first-child { border-top-left-radius: 12px; }
tr td:last-child { border-top-right-radius: 12px; }

tr td:first-child { border-bottom-left-radius: 12px; }
tr td:last-child { border-bottom-right-radius: 12px; }


tr td:first-child { border-left: solid 1px $main-sky-blue; }
tr td:last-child { border-right: solid 1px $main-sky-blue; padding-bottom: 20px }